@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: cornsilk;
}




#h-index{
    height: 64vw;
}

.menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.menu img{
    margin-top: 2vw;
    margin-left: 6vw;
    height: 150px;
}

.menu ul{
    min-width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 50%;
    list-style-type: none;
    margin: 30px;
    background-color: rgb(138, 68, 128, 0.5);
    border-radius: 0 30px 0 30px;
}

menu li{
    color: cornsilk;
    margin: 5px 20px;
}

.mob-menu{
    display: none;
}

.mob-menu span{
    height: 10px;
    width: 60px;
    background-color: rgb(138, 68, 128);
    margin: 3px;
    border-radius: 5px;
}

.mob-menu:hover{
    cursor: pointer;
}




#slider{
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}

#slider figure img{
    opacity: 60%;
    width: 20%;
    float: left;
}

.menu p{
    color: #000000;
    position: absolute;
    transform: rotate(-6deg);
    font-size: 12vw;
    text-align: center;
    font-weight: bolder;
    font-family: 'Sedgwick Ave', cursive;
    left: 18vw;
    top: 11vw;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
}
#ind-article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Handlee', cursive;
    justify-content: space-evenly;
}

#ind-article div{
    width: 450px;
    padding: 10px;
    align-self: center;
}

#ind-article div img{
    width: 100%;
    border-radius: 40px;
    box-shadow: 4px 4px 22px #000000;
}

#ind-article div a{
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skew-right{
    transform: rotate(4deg);
}
.skew-left{
    transform: rotate(-2deg);
}
footer{
    display: flex;
    height: 200px;
    margin-top: 50px;
    background-color: black;
    color: aliceblue;
}
footer h4{
    margin-bottom: 20px;
}
footer div{
    flex: 1;
    text-align: center;
    align-self: center;
}

.history{
    margin: 2% 8% 2% 8%;
}

.history p{
    margin-bottom: 10px;
    border-radius: 16px;
    font-family: 'Lora', serif;
    text-align: justify;
    padding: 10px;
    font-size: 22px;
    background-color: rgba(124, 101, 255, 0.1);
}

.history article, .places article{
    display: flex;
    flex-wrap: wrap;
}
.history-side, .places article div{
   align-self: center;
   text-align: left;
    flex: 1;
}

.img-div{
    align-self: center;
    height: 300px;
    padding: 10px;
}


.history-img{
    border-radius: 10px;
    height: 100%;
}

.places article{
    position: relative;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px 20px 6px;
    margin: 20px;
    border-radius: 6px;
}


.places a{
    color: rgb(255, 0, 0);
}

.places article p{
    min-width: 400px;
}

.link-a{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 5% 20px 5%;
    justify-content: space-evenly;
}

.links{
    color: rgb(255, 255, 255);
    font-size: 36px;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

#blog-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
}

h1{
    text-align: center;
    font-size: 56px;
}

.blog{
    font-family: 'Barlow Condensed', sans-serif;
    padding: 10px;
    margin: 20px;
    width: 44%;
    border-radius: 16px;
    background-color: rgb(202, 202, 202);
}

.blog-visitor, .blog-subject, .blog-comments{
    font-size: 20px;
    border-radius: 10px;
    padding: 2px 10px 4px 10px;
    background-color: rgb(235, 235, 235);

}
.blog-visitor, .blog-subject{
    border: 1px solid black;

}
.blog-visitor{
    margin-right: 14px;
}

.blog-comments{
    text-align: justify;
    font-family: 'Kalam', cursive;
    line-height: 1em;
    padding: 10px;
    font-size: 18px;
    margin-top: 18px;
    max-height: 214px;
    overflow: auto;
}

#visitor, #subject{
    width: 200px;
}

#blog-form{
    font-size: 18px;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgb(199, 199, 199);
    margin: 40px auto 40px auto;
    display: flex;
    flex-direction: column;
}

#blog-form input{
    font-size: 18px;
    margin-bottom: 10px;
    padding: 4px;
}

#blog-form p{
    font-weight: bold;
    text-align: center;
}
textarea{
    height: 100px;
    font-size: 18px;
    margin-bottom: 20px;
    resize: none;
    padding: 10px;
}

button{
    width: 80%;
    margin-left: 10%;
    font-size: 26px;
    text-align: center;
    background-color: rgb(143, 143, 143);
}



@media only screen and (max-width: 768px) {

    #slider p{
        top: 8vh;
        left: 20vw;
    }
    .blog-visitor, .blog-subject, .blog-comments{
        font-size: 16px;
    
    }
    .menu ul{
        display: none;
    }
    .mob-menu{
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
        margin: 20px;
    }   
        
}



@media only screen and (max-width: 920px) {
    #slider p{
        top: 21vh;
        left: 20vw;
    }

  

    #ind-article div{
        margin-bottom: 40px;
    }

    .gap{
        padding-bottom: 70px;
    }

    .box-3{
        order: 4;
    }
    .box-4{
        order: 3;
    }
    
    .blog{
        width: 90%;
    }
}

h3{
    text-align: center;
}



@keyframes slider{
    0%{
        left:0%;
    }
    20%{
        left:0%;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left: -400%;
    }
}